{% extends 'scorecard/base.html' %}
{% load i18n %}

{% block content %}
    {% if course %}
        <h2>Course Overview</h2>
        <table class="table">
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{{ course }}</td>
            </tr>
            <tr>
                <td>{% trans "Lecturer" %}</td>
                <td>{{ course.lecturer }}</td>
            </tr>
            <tr>
                <td>{% trans "Votes" %}</td>
                <td>{{ course.votes }}</td>
            </tr>
        </table>
    {% else %}
        <!-- Show an error if no course existing -->
        <div class="alert alert-info" role="alert">{% trans "Course not available." %}</div>
    {% endif %}

{% endblock %}