{% extends 'scorecard/base.html' %}

{% block content %}
    {% if object_list %}
        <ul>
        <!-- Iterate over the courses -->
            {% for course in object_list %}
                <!-- List a course and the voting possibilities -->
                <li><strong><a href="{% url 'scorecard:details' course.pk %}">{{ course }}</a></strong> has {{ course.votes }} vote{{ course.votes|pluralize }}
                    (<a href="{% url 'scorecard:vote' course.pk 1 %}"><span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
            <a href="{% url 'scorecard:vote' course.pk -1 %}"><span class="glyphicon glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>)
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <!-- Show an error if no course existing -->
        <div class="alert alert-info" role="alert">No courses available</div>
    {% endif %}
{% endblock %}